html {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    text-align: justify;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.page-container {
    position: relative;
    min-height: calc(100vh - 1.5em);
    padding-bottom: 1.5em;
}

.page-content{
    height: 100%;
    display: table;
}

.page-content, .dropdown{
    max-width: 1200px;
    margin: auto;
}

[class*="col-"] {
    width: 100%;
    float: left;
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

a{
    text-decoration: none;
    color:black;
}

a:visited{
    text-decoration: none;
    color:black;
}


p{
    margin-top: 0.7em;
}

.title_main{
    background-image: url("../images/header_image.jpg");
    background-position: center;
    background-size: cover;
    padding: 10em 0 10em 0;
    margin: 0;
}

.title_main h1{
    font-size: 2.7em;
    color: #ebb734;
    text-align: center;
    background-color: rgba(52, 134, 235, 0.6);
    border-radius: 0.3em;
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin: auto;
}

.title_main a{
    color: #ebb734;
}

.main_nav{
    background-color:#34a5eb;
    margin-bottom: 1em;
}

.btn{
    background-color:#346beb;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    margin: 0.5em;
}

.btn:hover{
    color:#346beb;
    background-color:#ebb734;
}

@media only screen and (max-width: 767px) {
    .dropbtn {
        background-color:#346beb;
        color: white;
        padding: 0.5em;
        font-size: 1em;
        border: none;
        border-radius: 0.5em;
        margin: 0.5em;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 15em;
    }

    .dropdown-content a {
        color: black;
        padding: 1em;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:active, .dropdown-content a:hover{
        background-color: #f1f1f1
    }

    .dropdown:active .dropdown-content, .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:active .dropbtn, .dropdown:hover .dropbtn {
        background-color:#ebb734;
        color:#346beb;
    }
}

@media only screen and (min-width: 768px) {
    .dropbtn {
        display: none;
    }

    .dropdown ol{
        margin: 1em;
    }
    
    .dropdown li{
        display: inline;
        list-style: none;
        list-style-position: inside;
    }

    .dropdown a{
        border-radius: 0.5em;
        background-color:#346beb;
        padding: 0.5em;
        color:#f9f9f9;
    }

    .dropdown a:hover{
        color:#346beb;
        background-color:#ebb734;
    }
}

.map{
    width: 100%;
    height: 40em;
    border:none;
    border-radius: 1em;
}

.card{
    background-color: rgb(255, 243, 229);
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
}

.card h3{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    border-bottom:#346beb;
    border-bottom-width: 0.1em;
    border-bottom-style:solid;
}

@media only screen and (min-width: 768px) {
    .card h3{
        font-size: min(3vw, 2em);
    }
}

.card h4{
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.card ul{
    list-style-position: inside;
    list-style: none;
}

.aside h3{
    font-size: 1.5em;
    text-align: center;
} 
.aside a{
    color:#346beb;
}

.rivieraDate{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding-block-end: 1em;
    border-bottom: #346beb;
    border-bottom-style: solid;
    border-bottom-width: 0.06em;
}

@media only screen and (min-width: 768px) {
    .rivieraDate{font-size: min(3.5vw, 3em);}
}




/* 404 ERROR */

.e404{
    text-align: center;
}

.e404 a{
    color: white;
    margin-top: 10em;
    padding: 0.5em 2em 0.5em 2em;
}

.e404 h4{
    margin-bottom: 2em;
}

/* TIMETABLE */

.opening-hours-table td{
    padding: 0.5em 1em 0.5em 0;
    font-size: min(3.5vw, 1.5em);
}

@media only screen and (min-width: 768px) {
    .rivieraDate{font-size: min(3.5vw, 3em);}
}

.timetable{
    height: 47em;
    width: 100%;
    border: none;
    border-radius: 1em;
}

.card img{
    width: 100%;
    border-radius: 1em;
}

.conditions-text{
    width: 100%;
    height: max(calc(100vh - 32em), 20em);
}

footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 1.5em; 
    background-color: #34a5eb;
    text-decoration: none;
    color:antiquewhite;
    text-align: center;
}

footer li{
    display: inline;
    text-transform: capitalize;
}

footer a{
    color:white;
}

footer a:visited{
    color:white;
}

/*  FORM  */

form{
    text-align: left;
}

input[type=text], input[type=email], textarea, select {
    width: 100%;
    padding: 0.7em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
}

input[type=radio]{
    height: 1.5em;
    width: 1.5em;
    background-color: antiquewhite;
    margin: 1.5em;
}
